<% if signed_in? %>
<div id="latest_doc">
	<div id="latestFeed" class="roundBox">
	<% @notifications.each do |notification| %>
    <%= render :partial => '/messages/feedDialog', :object => notification, :as => :dialog %>
  <% end %>
	</div>
<%= will_paginate @notifications %>
	
</div>
<div id="conversation">
</div>
<% else %>
<div class="center hero-unit">
    <h1>Welcome to POSEIDON</h1>
    <h2>You can register a shipping company or a supplier by following
        one of the links below.</h2>
    <%= link_to "New Shipping Company", new_shipping_company_path,
    class: "btn btn-large btn-primary" %>
    <%= link_to "New Supplier", new_agent_path,
    class: "btn btn-large btn-primary" %>
</div>
<% end %>

<script>
  if ($('.pagination').length) {	
$(window).scroll(function() {
  var url;
  url = $('.pagination .next_page a').attr('href');
  if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 30) {
    $('.pagination').text("Fetching more notifications...");
    $.getScript(url);
  }
});
$(window).scroll();
  }
</script>