<% if signed_in? %>
<div id="latest_doc">
	<div id="latestFeed" class="roundBox">
	<%= render @notifications %>
	</div>
<%= will_paginate @notifications %>
	
</div>
<div id="myConversationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myConversationModal" aria-hidden="true">
	<div id="modalConversation">

	</div>
</div>

<% else %>
<div class="center hero-unit">
    <h1>Welcome to POSEIDON</h1>
    <h2>You can register a shipping company or a supplier by following
        one of the links below.</h2>
    <%= link_to "New Shipping Company", new_shipping_company_path,
    class: "btn btn-large btn-primary" %>
    <%= link_to "New Supplier", new_agent_path,
    class: "btn btn-large btn-primary" %>
</div>
<% end %>

<script>
if ($('.pagination').length) {	
  $(window).scroll(function() {
    var url;
    url = $('.pagination .next_page a').attr('href');
    if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
      $('.pagination').html("<div class=\"text-center\"><i class=\"fa fa-spin fa-refresh fa-4x\"></i></div>");
      $.getScript(url);
    }
  });
  $(window).scroll();
}
</script>