<% if is_readC(message) %>
<div id=<%= message.id %> class="conversation">
<% else %>
<div id=<%= message.id %> class="conversation">
    <% end %>
    <div class="convSubject">
        <div class="leftRightMargin">
            <h6><%= raw(truncate(message.subject, :length => 20)) %></h6>
        </div>
    </div>
    <div class="convBody">
        <div class="leftRightMargin">
            <%= raw(truncate(strip_tags(message.body), :length => 100)) %>
        </div>
    </div>
</div>
