<% content_for :title do %>
  <%=t('message.other')%>
<% end %>

<section id="new_message">

	<div class="roundBox paddingBottom">
  		<%= render :partial => '/shared/message_bar' %>

  		<%= render :partial => 'new' %>

	</div>
</section>
