<ul class="nav nav-pills">
  <li>
    <ol class="breadcrumb">
      <li><%= link_to @agent.name, agent_path %></li>
    </ol>
  </li>
  <li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
</ul>
