<li>
  <strong><%= port.name %></strong><br />
  <%= port.country.printableName %><br />
  <%= link_to "Map", "http://maps.googleapis.com/maps/api/staticmap?center=#{port.lat},#{port.lng}&zoom=13&size=600x400&maptype=roadmap&&sensor=true&filename=#{port.name}.png", { :class => "grouped_elements", :rel => "zomg_awesome_images" } %>
</li>
