<div>
    <% @sender = getSender(contact) %>
    <tr>
        <table>
            <tr>
                <td>
                    <%= link_to @sender.name, @sender %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= time_ago_in_words contact["max"] %>
                </td>
            </tr>
        </table>
    </tr>
</div>
