<div>
    <% @sender = getSender(contact) %>
	<% if contact["receiver_id"] == @contact["receiver_id"] and contact["receiver_type"] == @contact["receiver_type"] %>
    <tr class="success">
    <% else %>
    <tr>
        <% end %>
        <td>
            <h5><%= @sender.name %></h5>
            <%= "#{time_ago_in_words contact["max"]} ago" %>
        </td>
    </tr>
</div>