<div>
	<% if conversation.id == @conversation.id %>
    <tr class="info" onclick="window.location='/conversations/?conversation_id=<%=conversation.id.to_s%>'";>
    <% else %>
	<tr onclick="window.location='/conversations/?conversation_id=<%=conversation.id.to_s%>'";>
	<% end %>
        <td>
            <h5><%= conversation.subject %></h5>
            <%= "#{time_ago_in_words conversation.receipts.last.created_at} ago" %>
        </td>
    </tr>
</div>
