<div>
    <tr>
                <td>
                    <h5><%= conversation.subject %></h5>
                    <%= "#{time_ago_in_words conversation.receipts.last.created_at} ago" %>
                </td>
    </tr>
</div>