<div>
    <% @sender = getSender(contact) %>
    <tr>
                <td>
                    <%= link_to @sender.name, @sender %><br />
                    <%= time_ago_in_words contact["max"] %>
                </td>
    </tr>
</div>
