<form class="form-search navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/search_mailbox" method="get">
    <div class="input-append">
        <input id="term" name="term" type="text" class="span7 search-query">
        <button type="submit" class="btn"><span class="icon icon-search"></span></button>
    </div>
</form>
