<% content_for :title do %>
<%=t('message.other') %>
<% end %>
<section id="conversations">
    <div class="conversations roundBox">
        <%= render :partial => '/shared/message_bar' %>
        <%= render :partial => 'conversations' %>
    </div>
</section>
