<ul class="nav nav-pills">
  <li>
    <ol class="breadcrumb">
      <li class="active"><%= @shipping_company.name %></li>
    </ol>
  </li>
  <% if authorized_sce? %>
  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
  <% end %>
</ul>