<% provide(:title, 'All Shipping Companies') %>
<h1>All Shipping Companies</h1>

<div class="roundBox">
<%= will_paginate %>

<ul class="shippingCompanies">
  <%= render @shipping_companies %>
</ul>

<%= will_paginate %>
</div>
