<% provide(:title, @shipping_company.name) %>
<div class="row">
    <div class="span12">
        <%= render "nav" %>
    </div>
    <div class="row">
        <div class="span12">
            <%= render "content" %>
        </div>
    </div>
</div>
