<% provide(:title, @shipping_company.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @shipping_company.name %>
      </h1>
    </section>
    <section>
    </section>
  </aside>
  <div class="span8">
  </div>
</div>
