<% if is_readC(notification) %>
	<div id=<%= notification.id %> class="conversation feedBackground">
<% else %>
    <div id=<%= notification.id %> class="conversation feedBackground">
<% end %>
        <div class="convSubject">
        	<div class="leftRightMargin">
			<h6><%= raw(truncate(notification.subject, :length => 20)) %></h6>
			</div>
        </div>
        <div class="convBody">
            <div class="leftRightMargin">
            <%= raw(truncate(strip_tags(notification.body), :length => 100)) %>
			</div>
        </div>
    </div>
