<% content_for :title do %>
  <%=t('message.other')%>
<% end %>

<div class="roundBox">

  <%= render :partial => '/shared/message_bar' %>

<section id="notification">

  <%= render :partial => 'notification_full' %>

</section>
	
	
</div>

