<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="roundBox">
<%= will_paginate %>

<ul class="users">
  <%= render :partial => 'user', :collection => @users %>
</ul>

<%= will_paginate %>
</div>
