<div id="messagesFeed" class="bigMarginTop">
    <%= render :partial => 'notifications/small_notification', :collection => get_latest_notifications, :as => :notification %>
</div>
<!-- Modal -->
<div id="myConversationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myConversationModal" aria-hidden="true">
	<div id="modalConversation">

	</div>
</div>
