<div id="latestFeed" class="roundBox">
	<% get_latest_notifications.each do |notification| %>
    <%= render :partial => '/messages/feedDialog', :object => notification, :as => :dialog %>
  <% end %>
</div>