  <div id="operate_form_<%= port_id %>">
  <% if @agent.operating_on?(port_id) %>
    <%= render 'unregister', :agent => @agent, :port_id => port_id %>
  <% else %>
    <%= render 'register', :agent => @agent, :port_id => port_id %>
  <% end %>
  </div>
