<%= form_for(agent.operations.build(port_id: port_id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :port_id %></div>
  <div><%= f.hidden_field :agent_id %></div>
  <%= f.submit HTMLEntities.new.decode("&#10004;"), class: "btn btn-mini btn-primary" %>
<% end %>
