<% provide(:title, 'All Agents/Suppliers') %>
<h1>All Agents/Suppliers</h1>

<div class="roundBox">
<%= will_paginate %>

<ul class="agents">
  <%= render @agents %>
</ul>

<%= will_paginate %>
</div>
