<% provide(:title, @agent.name) %>
<%= render "/shared/nav" %>
<div class="row">
    <div class="span3 roundBox">
        <% @voyages_ports = @agent.voyages_ports.paginate(page: params[:page]) %>
        <h4>Voyages</h4>
        <%= will_paginate @voyages_ports %>
        <ul class="voyages">
            <%= render @voyages_ports %>
        </ul>
        <%= will_paginate @voyages_ports %>
    </div>
</div>
