<% provide(:title, @affiliation.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @affiliation.name %>
      </h1>
    </section>
    <section>
    </section>
  </aside>
  <div class="span8">
  </div>
</div>