<% provide(:title, @title) %>
<%= render "/shared/nav" %>
<div class="row">
  <div class="roundBox">
    <table class="table table-stripped table-hover">
      <tbody>
      <tr>
        <td>
          <%= link_to 'Agents', shipping_company_fleet_ship_voyages_path(:vessel_type => params[:vessel_type], :ship_id => @ship.id, :fleet_id => @ship.fleet_id, :shipping_company_id => @ship.fleet.shipping_company.id) %>
        </td>
      </tr>
      <tr>
        <td>
          Stores
        </td>
      </tr>
      <tr>
        <td>
          Services
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


